@media all and (max-width:759px) {

    body {
        width: 100%;
        height: 100%;
        float: left;
    }

    .wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    /*1. 타이틀 시작*/
    header {
        width: 100%;
        height: 333.5px;
        background-color: aquamarine;
        margin: 0 auto;
        background-image: url(../header/header_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #logo a {
        font-family: 'Ananda';
        font-weight: 600;
        font-size: 17px;
        color: #fdfdfd;
        float: left;
        margin-left: 50px;
        margin-top: 10px;
    }
    #logo a:hover {
        color: #c02323;
    }
    #menu {
        width: 612px;
        height: 80px;
        float: right;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        display: none;
    }

    #menu li a {
        line-height: 80px;
        font-family: 'NanumGothic';
        color: #fdfdfd;
        font-size: 16px;
    }
    #menu li a:hover {
        color: #c02323;
    }
    #title {
        font-family: 'Ananda';
        color: #c02323;
        font-weight: 600;
        font-size: 63px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #sub_title {
        font-family: 'NanumGothic';
        color: #24292d;
        font-size: 13px;
        position: absolute;
        top: 210px;
        left: 50%;
        transform: translateX(-50%);
    }

    header .all_wrap > p:nth-child(5) {
        color: #fdfdfd;
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: none;
    }
    /* 1. 타이틀 끝*/
    /*2. group_1 인사말 시작*/
    #group_1 {
        width: 375px;
        height: 333.5px;
        background-color: #fdfdfd;

    }
    #group_1 ul {
        width: 100%;
        height: 333.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 44px;
        box-sizing: border-box;
    }
    #group_1 li {
        margin-bottom: 23px;
    }
    #group_1 li:nth-child(1) {
        color: #a9a9a9;
        font-family: 'Ananda';
        font-size: 18px;
        margin-bottom: 10px;
    }
    #group_1 li:nth-child(2) {
        color: #c02323;
        font-size: 32px;
        font-family: 'NanumGothic';
        font-weight: 600;
    }
    #group_1 li:nth-child(2) span {
        color: #a9a9a9;
        font-size: 14px;
        font-weight: 300;
        position: relative;
        top: -12px;
        left: -10px;
    }
    #group_1 li:nth-child(3) {
        color: #a9a9a9;
        font-family: 'NanumGothic';
        font-size: 14px;
        line-height: 24px;
    }
    #group_1 li:nth-child(4) {
        width: auto;
        height: 30px;
        color: #c02323;
        font-size: 18px;
        font-family: 'NanumGothic';

    }
    #group_1 li:nth-child(4) span {
        color: #24292d;
        font-size: 14px;
        margin-right: 15px;
    }


    /*2. group_1 인사말 끝*/
    /*3. group_2 요리 시작*/
    #group_2 {
        width: 100%;
        height: 610px;
        background-color: #fdfdfd;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .group_2_img {
        width: 100%;
        height: 200px;
        position: relative;
        background-color: #c02323;
        overflow: hidden;
    }
    .group_2_img>img{
        width: 100%;
        height: auto;
        position: relative;
        top: -60px;
    }
    .group_2_img:hover img {
        opacity: .3;
        transition-duration: .3s;
        transform: scale(1.1);
    }
    .group_2_img:hover div {
        opacity: 1;
    }
    .group_2_img:hover div a {
        display: block;
    }
    .group_2_img > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition-duration: .3s;
    }
    .group_2_img > div > a {
        color: #fdfdfd;
        font-size: 40px;
        display: none;
    }
    /*3. group_2 요리 끝*/
    /*4. group_3 서비스 시작*/
    #group_3 {
        width: 100%;
        height: 667px;
    }
    #group_3 > div:nth-child(1) {
        width: 270px;
        height: auto;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);    
    }
    #group_3_title {
        font-size: 34px;
        font-family: 'NanumGothic';
        font-weight: 600;
        border-bottom: 2px solid #c02323;
        color: #24292d;
        padding-bottom: 12px;
    }
    #group_3 > div:nth-child(1) > p {
        color: #24292d;
        font-size: 18px;
        font-family: 'NanumGothic';
        margin-top: 6px;
    }
    #group_3 > div:nth-child(2) {
        width: 300px;
        height: 400px;
        position: relative;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        overflow:hidden;
    }
    .group_3_icon {
        width: 120px;
        height: 140px;
        text-align: center;
        float: left;
        padding: 0px 15px;
    }
    .group_3_icon:nth-child(3),.group_3_icon:nth-child(4){
        padding-top: 60px;
    }
    .group_3_icon > .icon {
        width: 80px;
        height: 90px;
        margin: 0 auto;
    }
    
    .group_3_icon > .icon > img{
        width: 100%;
        height: auto;
    }
    .group_3_icon li:nth-child(2) {
        color: #c02323;
        font-family: 'NanumGothic';
        font-size: 20px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .group_3_icon li:nth-child(3) {
        font-size: 16px;
        font-family: 'NanumGothic';
        color: #a9a9a9;
    }

    /*4. group_3 서비스 끝*/
    /*5. group_4 예약 시작*/
    #group_4 {
        width: 100%;
        height: 440px;
    }
    #group_4 > div {
        width: 300px;
        height: 180px;
        background-color: #fdfdfd;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #group_4 > div:before {
        content: '';
        display: block;
        width: 284px;
        height: 164px;
        border: 2px solid #24292d;
        opacity: .2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    #group_4 > div > div {
        width: 250px;
        margin: 0 auto;
    }

    #group_4_title {
        font-size: 34px;
        font-family: 'NanumGothic';
        font-weight: 600;
        border-bottom: 2px solid #c02323;
        color: #24292d;
        margin-top: 58px;
        padding-bottom: 12px;
    }
    #group_4_title > a {
        color: #24292d;
        display: inline-block;
        width: auto;
    }
    #group_4 > div > div > p {
        color: #24292d;
        font-size: 18px;
        font-family: 'NanumGothic';
        margin-top: 6px;
    }
    #group_4 >img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }



    /*5. group_4 예약 끝*/
    /*6. group_5 메뉴 시작*/
    #group_5 {
        width: 100%;
        height: 621px;
        background-color: #fdfdfd;
    }

    #group_5 > div:nth-child(1) {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        margin-top: 6px;
        background-color: red;
    }
    #group_5 > div:nth-child(1) >img:nth-child(1){
        display: none;
    }
    #group_5 > div:nth-child(1) >img{
        width: 100%;
        height: auto;
    }
    #group_5 > div:nth-child(2) {
        width: 290px;
        height: 310px;
        position: absolute;
        top: 254px;
        left: 50%;
        transform: translateX(-50%);
    }

    #group_5 > div:nth-child(2) > div {
        width: 250px;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    #group_5_title {
        font-size: 34px;
        font-family: 'NanumGothic';
        font-weight: 600;
        border-bottom: 2px solid #c02323;
        color: #24292d;
        padding-bottom: 12px;
    }

    #group_5 > div > div:nth-child(1) > p {
        color: #24292d;
        font-size: 18px;
        font-family: 'NanumGothic';
        margin-top: 6px;
    }

    #group_5 > div:nth-child(2) > p {
        color: #a9a9a9;
        margin-top: 36px;
    }
    #group_5 > div:nth-child(2) > #group_5_view {
        width: 258px;
        height: 58px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #c02323;
        line-height: 58px;
        transition-duration: .4s;
    }
    #group_5 > div:nth-child(2) > #group_5_view > a {
        color: #fdfdfd;
        font-size: 16px;
    }
    /*6. group_5 메뉴 끝*/
    /*7. group_6 시작*/
    #group_6 {
        height: 300px;
        background-color: royalblue;
        background-image: url(../group_6/group_6_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #group_6 > div {
        width: 325px;
        height: 262px;
        background-color: #fdfdfd;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #group_6 > div:before {
        content: '';
        display: block;
        width: 300px;
        height: 237px;
        border: 2px solid #24292d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .2;
        z-index: -1;
    }
    #group_6 > div > ul {
        width: 180px;
        height: auto;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    #group_6 > div > ul:nth-child(2) {
        top: 130px;
    }
    #group_6 > div > ul > li:nth-child(1) {
        width: 118px;
        border-bottom: 2px solid #24292d;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;
        padding-bottom: 4px;
    }
    #group_6 > div > ul > li {
        font-family: 'NanumGothic';
        font-size: 16px;
        margin-bottom: 10px;
        color: #24292d;
    }
    #group_6 > div > ul:nth-child(2) > li:nth-child(3) {
        font-size: 14px;
    }


    /*7. group_6 끝*/
    /*8. footer 시작*/
    footer {
        height: 238px;
        background-color: #24292d;
    }
    footer > div {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    footer > div > a > i {
        font-size: 40px;
        color: #fdfdfd;
        opacity: .5;
        transition-duration: .3s;
    }
    footer > div > a:hover i {
        opacity: 1;
    }
    footer > ul {
        width: 100%;
        box-sizing: border-box;
        height: 70px;
        background-color: #1f2427;
        position: absolute;
        bottom: 0;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        padding: 10px 0;
        box-sizing: border-box;
    }
    footer > ul > li {
        color: #fdfdfd;
    }
    /*8. footer 끝*/
}
